[submodule "libs/socket.io-client-cpp"]
	path = libs/socket.io-client-cpp
	url = https://github.com/socketio/socket.io-client-cpp
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/imgui-sfml"]
	path = libs/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml
[submodule "include/json"]
	path = include/json
	url = https://github.com/nlohmann/json.git
